.popup__box {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -215px;
    margin-top: -165px;
}

@media screen and (max-width: 742px) {
    .popup__box {
        margin-left: -141px;   
        margin-top: -161px;
    }
}